<section class="p-1">
    <h3>All products</h3>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-2 p-2" *ngFor="let product of products">
            <div class="product cursor-pointer">
               <div [routerLink]="['/details',product._id]">
                <img [src]="product.imageCover" class="w-100 rounded" [alt]="product.title.split(' ').slice(0,2).join(' ')" srcset="">
                <h3 class="h5">{{product.category.name}}</h3>
                <h4 class="h6">{{product.title.split(' ').slice(0,2).join(' ')}}</h4>
                <div class="d-flex justify-content-between  align-items-center ">
                    <span>{{product.price}}EGP</span>
                    <dir>
                        <i class="fas fa-star rating-color"></i>
                        <span class="text-muted">{{product.ratingsAverage}}</span>
                    </dir>
                </div>
               </div>
                <button (click)="addtoCart(product._id)" class="btn-main w-100">Add product</button>
            </div>
        </div>
    </div>
</section>