<nav class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home"><img src="./assets/Images/freshcart-logo.svg" alt="" srcset=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link cursor-pointer" href="https://www.instagram.com/routelearning/" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
          </li>
           <li class="nav-item">
            <a class="nav-link cursor-pointer" href="https://www.facebook.com/Routelearning" target="_blank"> <i class="fa-brands fa-facebook"></i> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer" href="https://www.facebook.com/Routelearning" target="_blank"> <i class="fa-brands fa-tiktok"></i> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer" href="https://www.facebook.com/Routelearning" target="_blank"> <i class="fa-brands fa-x"></i> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer" href="https://www.facebook.com/Routelearning" target="_blank"> <i class="fa-brands fa-linkedin"></i> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer" href="https://www.facebook.com/Routelearning" target="_blank"> <i class="fa-brands fa-youtube"></i> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer" routerLink="login" routerLinkActive="active-link">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" routerLinkActive="active-link">Register</a>
          </li>
         
        </ul>
        
      </div>
    </div>
  </nav>