<section class="bg-light p-3 w-100">
   <div class="continer p-3">
    <h4>Get the Fresh-Cart app</h4>
    <p class="text-muted ">we will send you a link , open it on your phone to download the app.</p>
    <div class="p-2 d-flex justify-content-between align-items-center">
        <div class="w-75">
            <input class="form-control" id="email" type="text" placeholder="Email..">
        </div>
        <div class="w-25">
            <button class="btn-main d-block ms-2">Send app link</button>
        </div>
    </div>
   </div>
</section>
