<section class="p-1">
    <div class="row g-0">
        <div class="col-12 col-sm-12 col-md-9">
            <owl-carousel-o [options]="mainOptions">
                <ng-template carouselSlide><img height="450" src="./assets/Images/main-slider-1.jpeg" alt="" srcset=""></ng-template>  
                <ng-template carouselSlide><img height="450" src="./assets/Images/main-slider-2.jpeg" alt="" srcset=""></ng-template>  
                <ng-template carouselSlide><img height="450" src="./assets/Images/main-slider-3.jpeg" alt="" srcset=""></ng-template>  
              </owl-carousel-o>
        </div>
        <div class="col-12 col-sm-12 col-md-3">
           <img height="225" src="./assets/Images/main-slider-2.jpeg" alt="" srcset="">
           <img height="225" src="./assets/Images/main-slider-3.jpeg" alt="" srcset="">
        </div>
    </div>
</section>

<section class="p-1">
    <h3>Categories:</h3>

    <owl-carousel-o [options]="categoryOptions">
        <ng-container *ngFor="let item of category">
          <ng-template carouselSlide>
            <img height="200" width="100" [src]="item.image" [alt]="item.name" [title]="item.name" [alt]="item.name">
            <h2 class="h5"> {{item.name}} </h2>
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>
</section>

<section class="p-1">
    <h3>Popular products</h3>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-2 p-2" *ngFor="let product of products.slice(0,18)">
            <div class="product cursor-pointer">
               <div [routerLink]="['/details',product._id]">
                <img [src]="product.imageCover" class="w-100 rounded" [alt]="product.title.split(' ').slice(0,2).join(' ')" srcset="">
                <h3 class="h5">{{product.category.name}}</h3>
                <h4 class="h6">{{product.title.split(' ').slice(0,2).join(' ')}}</h4>
                <div class="d-flex justify-content-between  align-items-center ">
                    <span>{{product.price}}EGP</span>
                    <dir>
                        <i class="fas fa-star rating-color"></i>
                        <span class="text-muted">{{product.ratingsAverage}}</span>
                    </dir>
                </div>
               </div>
                <button (click)="addtoCart(product._id)" class="btn-main w-100">Add product</button>
            </div>
        </div>
    </div>
</section>