<section class="register p-3">
    <div class="container p-3 bg-main-light rounded ">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
            <h3>Login: </h3>
            <div class="py-2">
                <label for="email">Email:</label>
                <input formControlName="email" id="email" class="form-control" placeholder="ex:example@example.com"  type="email">
                <div class="alert alert-danger my-2" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
                    <p *ngIf="loginForm.get('email')?.getError('required')">email is required</p>
                    <p *ngIf="loginForm.get('email')?.getError('email')">email must be type of email</p>
                </div>
            </div>
            <div class="py-2">
                <label for="password">Password:</label>
                <input formControlName="password" id="password" class="form-control" placeholder="ex:Youssef@123"  type="password">
                <div class="alert alert-danger my-2" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
                    <p *ngIf="loginForm.get('password')?.getError('required')">password is required</p>
                    <p *ngIf="loginForm.get('password')?.getError('pattern')">password must be from 6 to 20 characters and first letter must be letter with UPPER case</p>
                </div>
            </div>
           
            
            <button type="submit" [disabled]="loginForm.invalid" class="d-block  ms-auto w-25 btn-main">
                <i *ngIf="loading" class="fas fa-spinner fa-spin"></i>
                Register</button>
        </form>
        <p *ngIf="responseError" class="alert alert-warning text-center my-2"> {{responseError}} </p>
    </div>

</section>

